
#contactors{
    background: transparent linear-gradient(103deg, #FAFAFA 0%, #e1f2ee 100%) 0% 0% no-repeat padding-box;
}


#mapa{
    margin-left: 6%;
}

#titulo-contacto{
    color:#006953;
    font-size: 3em;
    margin-left: 40%;
}

#formulario{
    width: 500px;
    height: 400px;
    color:white;
    margin-left: 30%;
    padding: 20px;
    border-radius: 15px;
    background:transparent linear-gradient(137deg, #21D9B2 0%, #004839 100%) 0% 0% no-repeat padding-box;
    box-shadow: 40px 60px 60px #0000001A;
    border-radius: 32px;
   
}

#exampleFormControlInput1{
font: normal normal  25px/30px sans-serif;
}

#exampleFormControlInput2{
    font: normal normal  25px/30px sans-serif;

}


#exampleFormControlInput3{
    font: normal normal  25px/30px sans-serif;

}
.boton{
    background-color: black;
    text-align: center;
   
}
#ubicacion{
    margin-left: 45%;
    color:#006953;
    
}

#datos{
    width: 500px;
    height: 400px;
    margin-top: 4%;
    
}

#datos-titulo{
color:#006953
}
#formula{
    margin-bottom: 10%;
}

#texto{
    color: #606060;
    font: normal normal normal 31px/38px sans-serif;
}