
#contactors{
    background: transparent linear-gradient(103deg, #FAFAFA 0%, #e1f2ee 100%) 0% 0% no-repeat padding-box;
}


#mapa{
    align-items: center;
    width: 80%;
    margin-bottom: 5%;
    margin-left: 10%;
}

#titulo-contacto{
    color:#006953;
    font-size: 3em;
    text-align: center;
}

#formulario{
    
    color:white;
    margin-left: 30%;
    padding: 20px;
    border-radius: 15px;
    background:transparent linear-gradient(137deg, #21D9B2 0%, #004839 100%) 0% 0% no-repeat padding-box;
    box-shadow: 40px 60px 60px #0000001A;
    border-radius: 32px;
    width: 350px;
    float: right;
   
}

#boton{
    width: 150px;
    margin-left:25%;
}

#exampleFormControlInput1{
font: normal normal  25px/30px sans-serif;
}

#exampleFormControlInput2{
    font: normal normal  25px/30px sans-serif;

}


#exampleFormControlInput3{
    font: normal normal  25px/30px sans-serif;

}
.boton{
    background-color: black;
    text-align: center;
   
}
#ubicacion{
    margin-left: 45%;
    color:#006953;
    
}

#datos{
    width: 500px;
    height: 400px;
    margin-top: 4%;
    
}

#datos-titulo{
color:#006953;
margin-left: 5%;
}
#formula{
    margin-bottom: 10%;
}

#texto{
    color: #606060;
    font: normal normal normal 18px/26px sans-serif;
    margin-left: 5%;
}
#whatsapp{
    margin-left: 5%;
   
}







.nav-link{
    color: white;
    font: normal normal sans-serif 18px/22px sans-serif;
    margin-right: 32px;
    font-size: 18px;
    color: #006953;

}

.contact-section {
    padding: 4rem 2rem;
    background: linear-gradient(rgba(255, 255, 255, 0.64), rgba(255,255,255,0.9)),
                url('../image/callcenter.jpg') center/cover;
 }
 
 .contact-title {
    font-family: 'Cursive', cursive;
    font-size: 3rem;
    color: #2D8D7C;
    text-align: right;
    margin-bottom: 3rem;
 }
 
 .contact-container {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
 }
 
 .question-title {
    font-family: 'Impact', sans-serif;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 2rem;
 }
 
 .contact-method {
    margin-bottom: 2rem;
 }
 
 .contact-method h3 {
    font-family: 'Impact', sans-serif;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 0.5rem;
 }
 
 .contact-method p {
    font-size: 1.2rem;
    color: #666;
 }
 
 .contact-icons {
    display: flex;
    gap: 2rem;
    align-items: center;
 }
 
 .contacto-foto {
    width: 360px;
    object-fit: contain;
 }
 
 @media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }
    
    .contact-title {
        text-align: center;
        font-size: 2.5rem;
    }
 }


 
 @media (max-width: 468px) {
    .contact-icons{
        width: 300px;
    }
 }
